:root{
	--txt-color: #212121;
	--ndtxt-color: #757575;
	--hover-color: #2196F3;
	--white-color: #FFFFFF;
	--bg-color: #2F303A;
	--secondbg-color: #F5F5F5;
	--thirdbg-color: #F5F4FA;
	--email-color: rgba(255, 255, 255, 0.6);
}

/* main tags */
.list{
	list-style: none;
}

.link{
	text-decoration-line: none;
}
body{
	background-color: var(--white-color);
	color: var(--txt-color);
	font-family: Roboto, sans-serif;
	font-weight: 400;
	letter-spacing: 0.02em;
}
 /* Navigation */

 .hover{
	text-decoration-line: none;
 }
.logo{
	color: var(--hover-color);

	font-family:Raleway ;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
}
.logoblack{
	color: #000000;

	font-family:Raleway ;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
}
.logowhite{
	color: var(--white-color);

		font-family:Raleway ;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
}
.site-nav .link:hover,
.site-nav .link:focus{
	color: var(--hover-color);
}
.site-nav .link{
	color: var(--txt-color);

	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	text-decoration: none;
}

.site-nav .link.current{
	color: var(--hover-color);
	text-decoration: underline;
}

.section .section-par{
	color: var(--ndtxt-color);
}

	.conlist:hover,
	.conlist:focus{
		color: var(--hover-color);
	}
	.conlist{
		color: var(--ndtxt-color);

		font-weight: 500;
		font-size: 14px;
		line-height: 1.14;
		text-decoration: none;
	}

	/* first section */
.first .first-title{
	color: var(--white-color);

	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
	text-align: center;
}

.section .section-title{
	color: var(--txt-color);
}

.first{
	background-color: var(--bg-color);
}


.first .button {
	color: var(--white-color);
	background-color: var(--hover-color);

	font-weight: 700;
	font-size: 16px;
	line-height: 1.8;
	align-items: center;
	text-align: center;
letter-spacing: 0.06em;
}
/* УВАГА ДО ДЕТАЛЕЙ 

color: #212121;


/* About us */

.about{
	color: var(--txt-color);

}

.about .about-title{

font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.about .about-par{
	color: var(--ndtxt-color);

	font-weight: 400;
	font-size: 14px;
	line-height: 1.7;
}

/* What we do */

.actions .actions-title{
	color: var(--txt-color);

	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
}




/* Our team  */
.team{
color: var(--txt-color);
background-color: var(--thirdbg-color);
}

.team .team-img{
}

.team .team-title{

font-weight: 700;
font-size: 36px;
line-height: 1.12;
text-align: center;
}

.team .team-titles{
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
}

.team .team-par{
color: var(--ndtxt-color);

font-weight: 400;
font-size: 16px;
line-height: 1.19;
text-align: center;
}

/* Footer  */

.footer{
	background-color: var(--bg-color);
}
.address{
	font-style: normal;
	font-size: 14px;
	line-height: 1.71;
}


	.address .hvr:hover,
	.address .hvr:focus{
		color: var(--hover-color);
	}

	.hvr{
		text-decoration-line: none;
	}


.address .address-name{
color: var(--white-color);

text-decoration: none;
}

.address .address-info{
color: var(--email-color);
}



/* portfolio */
.filter .filter-button{
	background-color: var(--thirdbg-color);
	color: var(--txt-color);
}

.filter .filter-button:hover,
.filter .filter-button:focus{
	background-color: var(--hover-color);
	color: var(--white-color);
}


.projects{
	color: var(--ndtxt-color);
	
	font-size: 16px;
	line-height: 1.9;
}

.projects .projects-title{
	color: var(--txt-color);

	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}







/* filter 1 (active) 
.filter .one{
position: absolute;
width: 73px;
height: 38px;
left: 512px;
top: 174px;
}
 filter 2 

.filter .two{
	position: absolute;
width: 125px;
height: 38px;
left: 593px;
top: 174px;
}

filter 3 
.filter .three{
	position: absolute;
width: 112px;
height: 38px;
left: 726px;
top: 174px;
}
 filter 4

.filter .four{
	position: absolute;
width: 103px;
height: 38px;
left: 846px;
top: 174px;
}

 filter 5 

.filter .five{
	position: absolute;
width: 130px;
height: 38px;
left: 957px;
top: 174px;
} */
